#login_container {
  width: 800px;
  height: 100%;
  margin: 0 auto;
}

#titulo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 145%;
  color: #000000;
}

#usuario_input {
  width: 300px;
  height: 60px;
  border-radius: 15px;
  background: #ebebeb;
}

#senha_input {
  width: 300px;
  height: 60px;
  border-radius: 15px;
  background: #ebebeb;
}

#lembrar_container {
  font-weight: bold;
}

#link_esqueci_senha {
  font-weight: bold;
}

#entrar_btn {
  width: 680px;
  height: 55px;
  font-size: 30px;
  line-height: 30px;
  border-radius: 15px;
  background: #c1baba;
  color: black;
  margin-top: 70px;
}


#cadastro_p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #000000;
  opacity: 0.5;
  margin-top: 50px;
}

#cadastro_link {
    text-decoration: none;
}
