#obras_container {
    width: 100%;
    min-height: 704px;
    padding: 5px 40px;
}

#container_interno {
    width: 1000px;
    min-height: 692px;
    margin: 0px auto;
}

#botao_tipo {
    padding: 10px 45px ;
}

.filtro_botao {
    width: 130px;
    height: 40px;
    border-radius: 40px;
}
