#hero_container {
  width: 100%;
  height: 545px;
  margin: 0px auto;
  border: 1px solid #000000;
}

#titulo_hero {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 110%; /* ou 48px */
  letter-spacing: -0.02em;
  margin-bottom: 80px;
}

#descricao_hero {
  font-size: 25px;
}
