#search_container {
  width: 1280px;
  height: 103px;
  display: flex;
  align-items: center; /* centraliza verticalmente */
  justify-content: center; /* centraliza horizontalmente */
  min-height: 100%;
  
}

#search_input {
  width: 1145px;
  height: 55px;
  border-radius: 0px 15px 15px 0px;
  border: 1px solid black;
  border-left: none;
}

#botao_procurar {
    height: 55px;
    width: 55px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid black;
    border-right: none;
}

#botao_procurar:hover {
  background-color: rgba(0, 0, 0, 0.178);
}
