#info_container {
  margin: 0 auto;
}

#voltar {
  width: 40px;
  height: 40px;
  margin: 20px 10px 10px 10px;
}

#imagem {
  width: 1195px;
  height: 450px;
  margin: 10px auto 20px auto;
  border-radius: 50px;
}

#categorias {
  margin-top: 10px;
  margin-bottom: 20px;
}

#categorias button {
  width: 180px;
  height: 50px;
  border-radius: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  background: #494949;
  color: white;
}

#titulo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 145%;
}

#autor {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 145%;
}

#info_tecnica {
  width: 1200px;
  height: 88px;
}

#ano {
  width: 569px;
  height: 88px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  /* idêntico à altura da caixa ou 29px */
  color: #ffffff;

  background: #777676;
  border-radius: 25px;
}

#tecnica {
  width: 569px;
  height: 88px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  /* idêntico à altura da caixa ou 29px */
  color: #ffffff;
  background: #777676;
  border-radius: 25px;
}

#descricao_container h5 {
  /* Descrição */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 145%;
  /* ou 36px */
  display: flex;
  align-items: center;
  letter-spacing: -0.005em;

  color: #000000;
}

#descricao_container p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 145%; /* ou 29px */
  color: #000000;
}
